html {
    width: 7680px;
    height: 100%;
    max-width: 100% !important;
    overflow-x: hidden !important;

    @media screen and (max-width:740px){
        display:none;
    }
    
}

body {
    height: 100%;
    width: 7680px;
    margin: 0 auto;
    background-color: black;
    
}

.menu {
    width: 7680px;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    
    position: absolute;
    display: flex;
    flex-direction: column;
    background:url("images/Space_Stars8.png");
}

#canvas {
    width: 7680px;
    height: 100%; 
}

#pauseScreen {
    background-color: #5f27cd;
    position: absolute;

    width: 7680px;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    color:#fff;
    font-family: 'Cookie', cursive;
    text-align: center;
}

.pauseHeader, .restartHeader{
    font-size: 144px;
    margin-bottom: 200px;

}

.restartHeader {
    color: red;
}

.mainMenuButton, .restartButton, .mainMenuButton2 {
    font-size: 108px;
    color:#F8EFBA;
    margin: 0 auto;
    margin-bottom: 200px;
    width:400px;
}

.mainMenuButton:hover,  .restartButton:hover, .mainMenuButton2:hover{
    color:#55E6C1;
    cursor: pointer;
}

.pressEnter {
    font-size: 124px;
    animation: fadeInAndOut 1s infinite alternate;
    -webkit-animation: fadeInAndOut 1s infinite alternate;
    -moz-animation: fadeInAndOut 1s infinite alternate;
    -o-animation: fadeInAndOut 1s infinite alternate;
    -ms-animation: fadeInAndOut 1s infinite alternate;
}

#playBtn, #optionsBtn, #creditsBtn {
    width:575px;
    height:120px;
    margin:55px auto;
    font-size: 104px;
    font-family: 'Cookie', cursive;
    border-radius: 55px;
    background-color: #6a89cc;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
}

#playBtn:hover, #optionsBtn:hover, #creditsBtn:hover {
    background-color:#78e08f;
   
}

#gameHeader {
    text-align: center;
    font-family: 'Cookie', cursive;
    font-size: 144px;
    margin-block: 15px;
    color:#fff;
}

.hide {
    display: none;
}

#restartScreen {
    background-color: #000;
    position: absolute;

    width: 7680px;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    color:#fff;
    font-family: 'Cookie', cursive;
    text-align: center; 
}


@keyframes fadeInAndOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }